@charset "UTF-8";
/* We’ll set some colors and center everything. */
.body {
  background: #4c268f;
  color: #99eeb4;
  height: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* We set the position to relative so that we can stack a blurred pseudo element on top of the original text */
.nice {
  position:sticky;
  font-family: "Avenir Next", sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;

  
}
.nice p { letter-spacing: 0.05em;}

/* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */
.nice:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);
  filter: url(#motion-blur-filter);
}

/* We hide the SVG filter element from the DOM as it would take up some space */
svg {
  display: none;
}